@import 'partials/fonts';
@import 'partials/nav';

*{
  margin-top: 0px;
  margin-left: 0px;
}

.opener {
  font-family: $josefin;
  opacity: 1;
  z-index: 1;
  border: 1.5em solid black;
  width: 97vw;
  height: 95vh;
  
  .dropcaps{
    display: inline;
    margin-bottom: -170px;
    margin-right: -80px;
    margin-top: -20px;
  }

  h1 {
    padding-right: 200px;
    font-size: 150px;
    display: inline;
  }

  h2 {
    margin-left: 30vw;
    font-size: 90px;
    }

  #special {
    margin-top: -4vh;
    margin-left: 32vw;    
    font-size: 135px;
  }
}

.click-announce {
  font-family: $josefin;
  font-size: 20px;
  margin-top: -15vh;
  margin-left: 37vw;
  border: 1px solid black;
  width: 250px;
  padding: 10px 0px 10px 30px;
}

/* ---- begin particles.js ---- */

canvas {
  display: block;
  vertical-align: bottom;
}

/* ---- particles.js container ---- */

#particles-js {
  position: absolute;
  width: 98vw;
  height: 97vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
}

/* ---- stats.js ---- */
.particles-js-canvas-el{
  margin-top: -97vh;
  color: black;
  width: 98vw;
  height: 97vh;
}

/*----begin chapter 1 announcement----*/

.announcement {
  display:none;
  border: 1.5em solid black;
  width: 97vw;
  height: 93vh;

  h2 {
    margin-top: 14vh;
    margin-left: 34vw;
    font-family: $source;
    font-size: 90px;
  }
  
  h4 {
    margin-left: 21vw;
    font-family: $josefin;
    font-size: 80px;
  }
}

#parallaxContainer {
  top: 0;
  left: 0;
  border: 1.5em solid black;
  width: 200vw;
  height: 98vh;
  left:23px !important;
  display: none;
  overflow: hidden;
  
  
  .layer1 {
    position: absolute;
    left: 0;
    width: 203vw;
    height:100%;
    overflow: hidden;
    background: url('../imgs/scene1/alice-s1-landscape.png');
    background-size: 380vh;
    background-repeat: no-repeat;
  }

  .layer2 {
    left: 0;
    position:absolute;
    width: 200vw;
    height: 100vh;
    background: url('../imgs/scene1/alice-s1-clouds.png');
    background-repeat: no-repeat;
  }

  .white-rabbit {
    position: absolute;
    margin-left: 155vw;
    margin-top: 47vh;
    background-repeat: no-repeat;
  }

  .hill {
    position: absolute;
    background: url('../imgs/scene1/alice-s1-hill.png');
    background-repeat: no-repeat;
    background-size: 80vh;
    margin-left: 135vw;
    margin-top: 27vh;
    width: 50vw;
    height: 50vh;
  }

  .rabbit-next {
    position: absolute;
    background-color: #7e0f7d; 
    color: white;
    border-radius: 50px;
    font-family: $josefin;
    margin-top: 80vh;
    margin-left: 150vw;
    width: 100px;
    height: 100px;
    z-index: 1;
  }

}

#parallax1 {
    position: absolute;
    font-family: $source;
    z-index: 1;
    color: white;
    text-align: center;
    width: 500px;
    float: right;
    margin-top: -10vh;
    margin-right: 20vw;
    background-color:black;
    opacity: 1;
    display: none;
  }

#trigger1{
}


/*----rabbit hole----*/


#rabbit-hole {
  top: 0;
  border: 1.5em solid black;
  right: inherit;
  width: 100vw;
  height: 97vh;
  left:23px !important;
  display: none;
  overflow: hidden;

  #s2-background{
    width: 200vw;
    height: 200vh;
    background-size: 250vh;
    background: url('../imgs/scene2/alice-s2-background.png');
    background-repeat: no-repeat;
  }

  #hole-dots{
    background: url('../imgs/scene2/hole-dots.png');
    width: 200vw;
    height: 200vh;
    margin-top: -200vh;
    margin-left: 45vw;
    z-index: 10;
    background-repeat: no-repeat;
  }

  .falling-next{
    position: absolute;
    background-color: rgb(52, 173, 101); 
    color: white;
    border-radius: 50px;
    font-family: $josefin;
    margin-top: -120vh;
    margin-left: 65vw;
    width: 100px;
    height: 100px;
    z-index: 100;
  }
}
#rabbit-hole-text{
  display: none;
  font-family: $source;
}


/*----falling----*/

#falling{
  width: 100vw;
  height: 600vh;
  display: none;

  #s3-background{
    width: 100vw;
    height: 600vh;
    background-color: black;
  }

  #alice-falling{
    position: fixed;
    width: 100vw;
    height: 600vh;
    margin-top: -600vh;
    margin-left: 40vw;
    background: url('../imgs/scene3/alice-falling.png');
    background-repeat: no-repeat;
  }

  #bright-dots{
    position: absolute;
    background: url('../imgs/scene3/alice-s3-bright-dots.png');
    width: 100vw;
    height: 600vh;
    margin-top: -600vh;
    z-index: 10;
    background-repeat: no-repeat repeat;
    overflow: hidden;
  }

  #grey-dots{
    position: absolute;
    background: url('../imgs/scene3/alice-s3-grey-dots.png');
    width: 100vw;
    height: 600vh;
    margin-top: -600vh;
    z-index: 10;
    background-repeat: no-repeat repeat;
    overflow: hidden;
  }
 /* =====do parallax instead====*/

 #hallway-next{
    position: absolute;
    background-color: rgb(94, 195, 243); 
    color: white;
    border-radius: 50px;
    font-family: $josefin;
    margin-top: -15vh;
    margin-left: 67vw;
    width: 100px;
    height: 100px;
    z-index: 100;
 }
}  

#falling-text{
  display: none;
}

/*----hallway----*/

#hallway {
  top: 0;
  border: 1.5em solid black;
  right: inherit;
  width: 100vw;
  height: 97vh;
  left:23px !important;
  display: none;
  overflow: hidden;

  #s4-background{
    width: 100vw;
    height: 100vh;
    background: url('../imgs/scene4/alice-s4-background.png');
    background-repeat: no-repeat;
  }

  #s4-dots {
    position: absolute;
    margin-top: -100vh;
    width: 100vw;
    height: 100vh;
    z-index: 1;
    background: url('../imgs/scene4/alice-s4-dots.png');
    background-repeat: no-repeat;
  }
}

#hallway-text {
  display: none;
}
#glass-next {
  position: absolute;
  background-color: #7e0f7d; 
  color: white;
  border-radius: 50px;
  font-family: $josefin;
  margin-top: -15vh;
  margin-left: 67vw;
  width: 100px;
  height: 100px;
  z-index: 1;
}



/*----glass table----*/  

#glass-table {
  top: 0;
  border: 1.5em solid black;
  right: inherit;
  width: 100vw;
  height: 97vh;
  left:23px !important;
  display: none;
  overflow: hidden;

  #s5-background{
    width: 100vw;
    height: 100vh;
    background: url('../imgs/scene5/alice-s5-background.png');
    background-repeat: no-repeat;
  }

  #s5-alice{
    position: absolute;
    z-index: 10;
    margin-top: -60vh;
    margin-left: 60vw;
    width: 100vw;
    height: 100vh;
    background: url('../imgs/scene5/alice-s5-alice.png');
    background-repeat: no-repeat;
  }
  #s5-dots{
    position: absolute;
    z-index: 10;
    margin-top: -100vh;
    width: 100vw;
    height: 100vh;
    background: url('../imgs/scene5/alice-s5-dots.png');
    background-repeat: no-repeat;
  }


}

#glass-table-text{
  display: none;
}


#wonderland-next {
  position: absolute;
  background-color: #7e0f7d; 
  color: white;
  border-radius: 50px;
  font-family: $josefin;
  margin-top: -15vh;
  margin-left: 67vw;
  width: 100px;
  height: 100px;
  z-index: 20;
}

/*----glimpse of wonderland----*/

#glimpse {
  top: 0;
  border: 1.5em solid black;
  right: inherit;
  width: 100vw;
  height: 97vh;
  left:23px !important;
  display: none;
  overflow: hidden;

  #s6-wonderland{
    width: 100vw;
    height: 100vh;
    background: url('../imgs/scene6/alice-s6.png');
    background-repeat: no-repeat;
  }

}

#glimpse-text{
    display: none;
}
























