nav{
  position:fixed;
  margin-top: -80vh;
  margin-left: -15px;
  z-index: 200;
  
  ul {
    li{
      list-style: none;
      padding:5px 10px ;
      border: 1px solid rgb(161, 255, 193);
      border-radius: 50px;

      &:hover {
         background-color: rgb(161, 255, 193);
        }
        
      a {
        font-family: $josefin;
        text-decoration: none;
        color: #7e0f7d;
        font-size: 20px;

        
      }
    }

  }
}